body {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-app-region: drag;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.spongebob {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 143px;

    background-image: url('img/spongebob.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

